body{
    background-color: #616161;
}


.panel {
    .panel-footer{
        .col-md-6{
            .btn{
                width: 130px;
            }
        }
    }
}

.mark-error{
    background: #d43f3a;
    border: solid 1px #d43f3a; 
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    padding: 2px 3px;
    vertical-align: text-bottom;
}
