.step-imports{

    fieldset{
        legend{
            .fa{
                font-size: 14px;
            }
        }

        .input-group-addon{
            width: auto;
        }
    }

    .imports-forms{

        .imports-form{
            text-align: right;
            margin-bottom: 20px;

            .form-option-state{
                width: 25px;
            }

            [data-toggle='imports-form-action-upload']{
                display: none;
            }
        }


        .fa-exclamation{
            color: #d43f3a;
        }

        .fa-check{
            color: #4cae4c;
        }

    }

}
