.step-mapping{

    .nav-tabs{

        .fa{
            margin-left: 5px;
        }
        
        .fa-check{
            color: #4cae4c;
        }
    }

    .tab-pane{
        table{
            [data-toggle="step-mapping-sample"]{
        
                span{
                    display: none;
                
                    &:first-child{
                        display: block;
                    }
                }
            }
        }
    }
}
