.step-options{
    .option-box{
        box-sizing: border-box;
        display: inline-block;
        width: 200px;
        
        &.unsupported{
            opacity: .5;
            border-color: #ccc;
            color: #ccc;
            cursor: not-allowed;

            .btn-default:hover{
                background-color: inherit;
                border-color: inherit;
                cursor: inherit;
            }

            .btn-default:active{
                background-color: inherit;
                border-color: inherit;
            }
            
            .btn:active{
                box-shadow: inherit;
            }
        }

        .input-group{
            width: 100%;

            .input-group-addon{
                width: auto;
            }
        }

        .fa{
            font-size: 14px;
        }
    }
}
